{% extends 'base.html' %} {% block content %}
<div class="card rounded-0">
    <div class="container-fluid">


        <form id="upload" action="/recommendations" enctype="multipart/form-data" method="post" class="p-5 pb-3 mb-5">

            <fieldset class="form-group border pl-4 pr-4 pt-3 pb-3 mb-5">
                <legend class="w-auto ">Bulk File</legend>
                <div class="form-group">
                    <label for="excel" class="text"> Upload Amazon bulk file</label><br>
                    <input type="file" onchange="change()" accept=".xlsx" name="excel" id="excel" required>
                    <div style="color: red;" id="errormsg"></div>
                </div>
            </fieldset>
            <fieldset class="form-group border pl-4 pr-4 pt-3 pb-3 mb-5">
                <legend class="w-auto ">Country</legend>
                <label for="excel" class="text"> Choose country's data you would like to parse.</label><br>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="US" value="US" name="country" checked>
                                <label class="form-check-label" for="US">US</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="CA" value="CA" name="country" checked>
                                <label class="form-check-label" for="CA">CA</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="UK" value="UK" name="country" checked>
                                <label class="form-check-label" for="UK">UK</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="AU" value="AU" name="country" checked>
                                <label class="form-check-label" for="AU">AU</label>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>
            <button type="button" onclick="a()" id="sub" class="btn btn-primary rounded-0">Submit</button>
        </form>


        <fieldset class="form-group {{hide}} border pl-3 pr-3 mt-5 mb-5">
            <legend class="w-auto ">Download</legend>
            <div class="form-group">
                <a class="text-blue" style="text-decoration-line: underline;" href="/download/{{link}}">Download {{filename}}</a>
            </div>
        </fieldset>

    </div>
    <!-- preloader div -->
    <div id="preloader" class="sub d-none">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
</div>
<script>
    // show preloader
    function a() {
        if ($("#excel").val() == "") {
            $("#errormsg").text("*Required file")
        } else {

            $(".sub").removeClass("d-none");

            document.getElementById("upload").submit();

        }

    }
    // remove *Required file message
    function change() {
        $("#errormsg").text("")
    }
</script>
{% endblock content %}